<?php
/*
 * NOTE that this file should be customized and moved into the 
 * _parent_ directory as 'config.php' (above the web root) and 
 * futher protected using .htaccess or similar.
 */

date_default_timezone_set('America/Indianapolis');

// Configuration variables for the site

// mySQL host address
$SITEINFO['servername']='127.0.0.1';

// complete path to local mysql executable
$SITEINFO['mysql_exec']='/REPLACE_ME/bin/mysql';

// mySQL username
$SITEINFO['UserName']='REPLACE_ME';

// mySQL password
$SITEINFO['password']='REPLACE_ME_TOO';

// E-mail address for me
$SITEINFO['AdministratorContact']='REPLACE_ME@EXAMPLE.COM';

// Path to root directory, must end with a slash
$SITEINFO['docroot']='/var/www/REPLACE_ME/';

// Standard public-facing domain name and port
$SITEINFO['hostname_and_port'] = 'EXAMPLE.COM';

// Login should always be under HTTPS
$SITEINFO['secure_hostname_and_port'] = 'EXAMPLE.COM:443';

// shared admin username (required for data entry and site management)
$SITEINFO['AdminUserName']='REPLACE_ME';
$SITEINFO['AdminUserPassword']='REPLACE_ME_TOO';

// shared reviewer username (required for review of unpublished calibrations)
$SITEINFO['ReviewerName']='REPLACE_ME';
$SITEINFO['ReviewerPassword']='REPLACE_ME_TOO';

?>
